version: "3.8"

services:
  spark-submit:
    build:
      context: .
      dockerfile: Dockerfile
    image: spark-3.1.3-s3a
    container_name: spark-submit
    volumes:
      - ./spark-defaults.conf:/opt/spark/conf/spark-defaults.conf
      - ./app.py:/opt/app/app.py
    command: >
      /opt/spark/bin/spark-submit
      --master local[*]
      /opt/app/app.py
    depends_on:
      - spark-history

  spark-history:
    image: spark-3.1.3-s3a
    container_name: spark-history-server
    volumes:
      - ./spark-defaults.conf:/opt/spark/conf/spark-defaults.conf
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.history.HistoryServer
    ports:
      - "18080:18080"
